$font-family:     arial sans-serif;
$font-size:       0.9rem !default;

$main-background-color:#393b3d;
$main-nav-background-color: #2d2f31;

$primary: #11998e;
$secondary: #38ef7d;

// Tables
$bs-table-label-color: #869198;
$bs-table-label-background: #383838;
$bs-table-background: #2a2a2a;
$bs-table-color: #869198;
$bs-table-color-hover: #303030;
$bs-table-color-selected: #223e75;
$bs-table-color-selected-hover: #294b8e;

$bs-table-border-color: #373737;
$bs-table-filter-input-background: #2a2a2a;
$bs-table-filter-input-hover-border-color: #3a5977;
$bs-table-filter-input-color: #869198;

$bs-primary: #11998e;
$bs-secondary: #38ef7d;
$bs-white: #fff;
$bs-gray: #9b9b9b;

$bs-error-dark: #e24949;
$bs-error-light: #e32141;
$bs-error-text: #e32141;

$router-link-active-background: #3a5977;
