/* https://coolors.co/495867-577399-bdd5ea-f7f7ff-fe5f55 */
$black-coral: #495867ff;
$blue-yonder: #577399ff;
$beau-blue: #bdd5eaff;
$ghost-white: #f7f7ffff;
$orange-red-crayola: #fe5f55ff;


$dark-sienna: #250902ff;
$dark-sienna-2: #38040eff;
$rosewood: #640d14ff;
$ou-crimson-red: #800e13ff;
$upsdell-red: #ad2831ff;

$light-goldenrod-yellow: #edeec9ff;
$nyanza: #dde7c7ff;
$cambridge-blue: #bfd8bdff;
$eton-blue: #98c9a3ff;
$eton-blue-2: #152f28;
$eton-blue-3: #152F28;


$gray1: #eeeeee;
$gray2: #dddddd;
$gray3: #cccccc;
$gray4: #bbbbbb;
$gray5: #9a9a9a;

$breeze-light: #31383e;
$breeze-dark: #292f34;
$breeze-gray: #393c3d;

$container-border-color: #2d2f31
